<div *ngIf="utilisateur" class="" style="position: absolute; top: 0; left: 0; width: 100%; opacity: 1; ">
    <div style="position: fixed; width: 82%;padding-left: 20px; padding-right: 0px;; padding-top: 5px; margin-right: 17px;">
        <div class="row">
            <div class="cell-lg-7">
                <span class="mif-search fg-white"
                    style="position: absolute; padding: 5px; padding-top: 7px; padding-left: 20px;">

                </span>
                <input  [(ngModel)]="recherche" (ngModelChange)="rechercher($event)" type="text">
            </div>
            <div class="cell-lg-1 fg-white">
                <span (click)="addVehicule()" class="muanza-icon" style="">
                    <span class="mif-drive-eta">
                    </span>
                    <sup>
                        <b>
                            +
                        </b>
                    </sup>
                </span>
            </div>
            <div class="cell-lg-1 fg-white">
                <span (click)="addConducteur()" class="muanza-icon">
                    <span class="mif-user">
                    </span>
                    <sup>
                        <b>
                            +
                        </b>
                    </sup>
                </span>
            </div>
            <div title="Déconnexion" style="cursor: pointer;" class="cell-lg-2" (click)="deconnexion()">
                <div class="text-right fg-white">
                    <div>
                        {{utilisateur.noms ? utilisateur.noms: emailSplit(utilisateur.email)}}
                    </div>
                    <div style="margin-top: -10px;">
                        <small>
                            {{utilisateur.type ? utilisateur.type : 'Administrateur'}}
                            {{utilisateur.site ? utilisateur.site.nom : ''}}
                        </small>
                    </div>

                </div>
            </div>
            <div class="cell-lg-1">
                <div style="border: 2px solid #fff; margin-top: 0px; height: 38px; background-image: url('../../../assets/img/user.png'); background-size: cover; background-position: center center;">
                   
                </div>
            </div>
        </div>
    </div>
</div>