<div class="page">
    <div class="entete">
        <h1>
            Visites Techniques
            <span (click)="addVisite()" class="muanza-icon">
                <span>
                    +
                </span>
            </span>
        </h1>

    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-12">
                    <div class="board">
                        <div class="entete">
                            <h2>
                                Informations
                            </h2>
                        </div>
                        <div class="contenu">
                            <table class="table table-border row-border cell-border">
                                <thead>
                                    <tr>

                                        <th>Date</th>
                                        <th>Véhicule</th>
                                        <th>Conducteur lors de la visite</th>
                                        <th>Lieu</th>
                                        <th>Date Validité</th>

                                        <th>Coût Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let visite of visites" (click)="edit(visite)"
                                        style="cursor: pointer;">
                                        <td>{{visite.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>
                                            {{visite.vehicule.modele}} -
                                            {{visite.vehicule.immatriculation}}

                                        </td>
                                        <td style="text-transform: uppercase;">
                                            {{visite.conducteur.noms}}
                                            {{visite.conducteur.prenoms}}

                                        </td>
                                        <td>{{visite.prestataire}}</td>
                                        <td>{{visite.dateLimite | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{visite.prixTotal}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>