<div class="page">
    <div class="entete">
        <h1>
            Visites Techniques
        </h1>
    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-12">
                    <div class="board">
                        <div *ngIf="enSynchronisation" data-role="activity" data-type="metro" data-style="color"></div>

                        <div class="contenu">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table row-border hover">
                                <thead>
                                    <tr>

                                        <th>Date</th>
                                        <th>Véhicule</th>
                                        <th>Conducteur lors de la visite</th>
                                        <th>Lieu</th>
                                        <th>Date Validité</th>

                                        <th>Coût Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let visite of visites" (click)="edit(visite)" style="cursor: pointer;">
                                        <td>{{visite.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>
                                            {{visite.vehicule.modele}} -
                                            {{visite.vehicule.immatriculation}}

                                        </td>
                                        <td style="text-transform: uppercase;">
                                            <span *ngIf="visite.conducteur">
                                                {{visite.conducteur.noms}}
                                                {{visite.conducteur.prenoms}}
                                            </span>
                                        </td>
                                        <td>{{visite.prestataire}}</td>
                                        <td>{{visite.dateLimite | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{visite.prixTotal}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>