<div class="page">
    <div class="entete">
        <h1>
            {{kilometrage ? 'Modifier le relevé kilométrique': 'Ajouter un relevé kilométrique'}}
        </h1>

    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-6">
                    <div class="board">
                        <div class="entete">
                            <h2>
                                Informations
                            </h2>
                        </div>
                        <div class="contenu">

                            <form [formGroup]="kilometrageForm" (ngSubmit)="onKilometrageFormSubmit()">
                                
                                <div class="cell-lg-12">
                                    <input data-prepend="Date du relevé" type="date" formControlName="date" data-role="input">
                                </div>
                                <div class="cell-lg-12">
                                    <label>Véhicule *</label>
                                    <select formControlName="vehicule">
                                        <option *ngFor="let vehicule of vehicules" [selected]="kilometrage && kilometrage.vehicule.id===vehicule.id"  [ngValue]="vehicule">
                                            {{vehicule.modele}} - {{vehicule.immatriculation}}
                                        </option>
                                    </select>
                                    <small>Choisissez le véhicule</small>
                                </div>
                                <div class="cell-lg-12">
                                    <input formControlName="quantite" data-role="input" data-prepend="KM">
                                </div>
                                <div class="cell-lg-12">
                                    <button class="button" [disabled]="kilometrageForm.invalid">
                                        Enregistrer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>