<div class="page">
    <div class="entete">
        <h1>
            Véhicules
            <span (click)="addVehicule()" class="muanza-icon">
                <span class="mif-drive-eta">
                </span>
                <sup>
                    <b>
                        +
                    </b>
                </sup>
            </span>
        </h1>

    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-12">
                    <div class="board">
                        <div class="entete">
                            <h2>
                                Informations
                            </h2>
                        </div>
                        <div class="contenu">
                            <table class="table  compact table-border row-border cell-border">
                                <thead>
                                    <tr>
                                        <th>Modèle</th>
                                        <th>Imm.</th>
                                        <th>Chev.</th>
                                        <th>Date Acq.</th>
                                        <th>Type</th>
                                        <th>Site</th>
                                        <th>Etat</th>
                                        <th>Propriété</th>
                                        <th>Valeur Achat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let vehicule of vehicules" (click)="edit(vehicule)" style="cursor: pointer;">
                                        <td>{{vehicule.modele}}</td>
                                        <td>{{vehicule.immatriculation}}</td>
                                        <td>{{vehicule.chevaux}}</td>
                                        <td>{{vehicule.dateAcquisition | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{vehicule.type}}</td>
                                        <td>
                                            {{vehicule.siteActuel ? vehicule.siteActuel.nom: 'Indéfini'}}
                                        </td>
                                        <td>{{vehicule.etat}}</td>
                                        <td>
                                            {{vehicule.proprietaire ? 'Proprietaire': vehicule.leasing}}
                                        </td>
                                        <td>{{vehicule.valeurAchat ? vehicule.valeurAchat:0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>