<div class="page">
    <div class="entete">
        <h1>
            Départements
        </h1>

    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-10">
                    <div class="board">
                        <div class="entete">
                            <button class="button" (click)="refresh()">
                                Actualiser
                            </button>
                            <button class="button" (click)="add()">
                                Nouveau
                            </button>
                        </div>
                        <div class="contenu">
                            <table class="table table-border row-border cell-border">
                                <thead>
                                    <tr>

                                        <th>Code</th>
                                        <th>Nom</th>
                                        <th>Direction mère</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let departement of departements" (click)="edit(departement)"
                                        style="cursor: pointer;">
                                        <td>{{departement.code}}</td>
                                        <td>
                                            <div
                                                [ngStyle]="{'margin-left': 50 * generateArray(departement.niveau).length +'px' }">
                                                {{departement.nom}}
                                            </div>
                                        </td>
                                        <td>
                                            {{departement.parent ? departement.parent.code : ''}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>