<div class="page">
    <div class="entete">
        <h1>
            Conducteurs
        </h1>
    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-12">
                    <div class="board">
                        <div *ngIf="enSynchronisation" data-role="activity" data-type="metro" data-style="color"></div>

                        <div class="contenu">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table row-border hover">
                                <thead>
                                    <tr>
                                        <th>Matricule</th>
                                        <th>Noms</th>
                                        <th>Prénoms</th>
                                        <th>Poste</th>
                                        <th>CNI</th>
                                        <th>N° Permis</th>
                                        <th>Tel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let conducteur of conducteurs" (click)="edit(conducteur)" style="cursor: pointer;">
                                        <td>{{conducteur.matricule}}</td>
                                        <td>{{conducteur.noms}}</td>
                                        <td>{{conducteur.prenoms}}</td>
                                        <td>{{conducteur.poste}}</td>
                                        <td>{{conducteur.cni}}</td>
                                        <td>{{conducteur.numeroPermis}}</td>
                                        <td>{{conducteur.tel}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>