<div class="page">
    <div class="entete">
        <h1>
            Réparations
        </h1>
    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-12">
                    <div class="board">
                        <div class="contenu">
                            <div *ngIf="enSynchronisation" data-role="activity" data-type="metro" data-style="color"></div>
    
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table row-border hover">
                                <thead>
                                    <tr>

                                        <th>Date</th>
                                        <th>Véhicule</th>
                                        <th>Panne</th>
                                        <th>Conducteur </th>
                                        <th>Réparation effectué par</th>
                                        <th>Coût Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reparation of reparations" (click)="edit(reparation)"
                                        style="cursor: pointer;">
                                        <td>{{reparation.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>
                                            {{reparation.vehicule.modele}} -
                                            {{reparation.vehicule.immatriculation}}

                                        </td>
                                        <td>
                                            {{reparation.description}}
                                        </td>
                                        <td style="text-transform: uppercase;">
                                            {{reparation.conducteur.noms}}
                                            {{reparation.conducteur.prenoms}}

                                        </td>
                                        <td>{{reparation.effectuePar}}</td>
                                        <td>{{reparation.coutTotal}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>