<div class="page">
    <div class="entete">
        <h1>
            Affectations
        </h1>

    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-12">
                    <div class="board">
                        <div *ngIf="enSynchronisation" data-role="activity" data-type="metro" data-style="color"></div>

                        <div class="contenu">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table row-border hover">
                                <thead>
                                    <tr>
                                        
                                        <th>Date</th>
                                        <th>Véhicule</th>
                                        <th>Conducteur</th>
                                        <th>Décision</th>
                                        <th>Motif</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let affectation of affectations" (click)="edit(affectation)" style="cursor: pointer;">
                                        <td>{{affectation.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>
                                            {{affectation.vehicule.modele}} -
                                            {{affectation.vehicule.immatriculation}}

                                        </td>
                                        <td style="text-transform: uppercase;">
                                            {{affectation.conducteur.noms}}
                                            {{affectation.conducteur.prenoms}}

                                        </td>
                                        <td>{{affectation.decision}}</td>
                                        <td>{{affectation.motif}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>