<!--
    <h6 style="margin-left: 20px; padding-top: 2vh;;">
        SIA PARCAUTO
    </h6>
-->
<div style="padding-left: 10px; padding-top: 4vh; padding-bottom: 2vh;">
    <img src="../../../assets/img/logo CAMTEL.jpg" style="width: 80px;;">
</div>
<div class="muanza-menu">
    <div class="muanza-menu-item-group">
        <a routerLink="dashboard" routerLinkActive="active" class="muanza-menu-item" style="">
            <small class="mif-chart-pie muanza-menu-icon">

            </small>
            <small>
                Tableau de bord
            </small>
        </a>
        <a *ngIf="voirSuivi" class="muanza-menu-item" routerLink="affectation" routerLinkActive="active">
            <small class="mif-key muanza-menu-icon">

            </small>
            <small>
                Affectations de Véhicule
            </small>
        </a>
        <!--
        <div class="muanza-menu-item" style="">
            <a routerLink="/">
                <small class="mif-bell muanza-menu-icon">

                </small>
                <small>
                    Alertes
                </small>
            </a>
        </div>
        <div class="muanza-menu-item">
            <small class="mif-dollars muanza-menu-icon">

            </small>
            <small>
                Dépenses
            </small>
        </div>
        <div class="muanza-menu-item">
            <small class="mif-chart-bars muanza-menu-icon">

            </small>
            <small>
                Prévisions
            </small>
        </div>
        <div class="muanza-menu-item">
            <small class="mif-search muanza-menu-icon">

            </small>
            <small>
                Recherche
            </small>
        </div>
    -->
    </div>
    <div *ngIf="voirSuivi" id="dropdown_toggle_suivi" class="muanza-menu-title">
        Suivi
    </div>
    <div *ngIf="voirSuivi" class="muanza-menu-item-group">
        <a routerLink="vehicules" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-drive-eta muanza-menu-icon" style="">

            </small>

            <small>
                Véhicules
            </small>
        </a>
        <a routerLink="visites" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-clipboard muanza-menu-icon" style="">

            </small>

            <small>
                Visites Techniques
            </small>
        </a>
        <a routerLink="cartesgrises" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-featured-play-list muanza-menu-icon" style="">

            </small>

            <small>
                Cartes Grises
            </small>
        </a>
    </div>
    <div id="dropdown_toggle_reporting" class="muanza-menu-title">
        Reporting
    </div>
    <div class="muanza-menu-item-group">
        <a class="muanza-menu-item" routerLink="kilometrage" routerLinkActive="active">
            <small class="mif-history muanza-menu-icon">

            </small>
            <small>
                Kilométrage
            </small>
        </a>
        <a *ngIf="voirSuivi" class="muanza-menu-item" routerLink="ravitaillement" routerLinkActive="active">
            <small class="mif-gas-station muanza-menu-icon">

            </small>
            <small>
                Carburant
            </small>
        </a>
        <a class="muanza-menu-item" routerLink="panne" routerLinkActive="active">
            <small class="mif-drive-eta muanza-menu-icon">

            </small>

            <small>
                Pannes
            </small>
        </a>
        <a class="muanza-menu-item" routerLink="reparation" routerLinkActive="active">
            <small class="mif-tools muanza-menu-icon">

            </small>
            <small>
                Réparations
            </small>
        </a>
        <a class="muanza-menu-item" routerLink="visite" routerLinkActive="active">
            <small class="mif-clipboard muanza-menu-icon">

            </small>
            <small>
                Visites techniques
            </small>
        </a>
        <a *ngIf="voirSuivi" class="muanza-menu-item" routerLink="assurance" routerLinkActive="active">
            <small class="mif-beenhere muanza-menu-icon">

            </small>
            <small>
                Assurances
            </small>
        </a>
    </div>
    <!--
    <div id="dropdown_toggle_planification" class="muanza-menu-title dropdown-toggle">
        Planification
    </div>
    <div class="muanza-menu-item-group" data-role="dropdown" data-toggle-element="#dropdown_toggle_planification">
        <div class="muanza-menu-item">
            <small class="mif-gas-station muanza-menu-icon">

            </small>
            <small>
                Carburant
            </small>
        </div>
        <div class="muanza-menu-item">
            <small class="mif-tools muanza-menu-icon">

            </small>
            <small>
                Réparations
            </small>
        </div>
        <div class="muanza-menu-item">
            <small class="mif-clipboard muanza-menu-icon">

            </small>
            <small>
                Visites techniques
            </small>
        </div>
        <div class="muanza-menu-item">
            <small class="mif-beenhere muanza-menu-icon">

            </small>
            <small>
                Assurances
            </small>
        </div>
    </div>

-->

    <div *ngIf="voirParametres" id="dropdown_toggle_1" class="muanza-menu-title">
        Paramètres
    </div>

    <div *ngIf="voirParametres" class="muanza-menu-item-group">
        <a routerLink="/vehicule" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-drive-eta muanza-menu-icon">

            </small>
            <small>
                Véhicules
            </small>
        </a>
        <a routerLink="/conducteur" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-user-check muanza-menu-icon">

            </small>
            <small>
                Conducteurs
            </small>
        </a>
        <a routerLink="/leasing" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-copyright muanza-menu-icon">

            </small>
            <small>
                Leasing
            </small>
        </a>
        <a routerLink="/departement" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-organization muanza-menu-icon">

            </small>
            <small>
                Départements
            </small>
        </a>
        <a routerLink="/site" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-location-city muanza-menu-icon">

            </small>
            <small>
                Sites
            </small>
        </a>
        <a routerLink="/utilisateur" routerLinkActive="active" class="muanza-menu-item">
            <small class="mif-security muanza-menu-icon">

            </small>
            <small>
                Utilisateurs
            </small>
        </a>
<!--
        <div class="muanza-menu-item">
            <small class="mif-user muanza-menu-icon">

            </small>
            <small>
                Acheteur
            </small>
        </div>

    -->
    </div>

    <div *ngIf="utilisateur" id="dropdown_toggle_deconnexion" class="muanza-menu-title">
        Déconnexion
    </div>
    <div *ngIf="voirParametres" class="muanza-menu-item-group">
        <div (click)="deconnexion()" class="muanza-menu-item">
            <small class="mif-settings-power muanza-menu-icon">

            </small>
            <small>
                <b>
                    Déconnexion
                </b>
            </small>
        </div>
    </div>
</div>