<div class="page">
    <div class="entete">
        <h1>
            Assurances
        </h1>
    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-10">
                    <div class="board">
                        <div *ngIf="enSynchronisation" data-role="activity" data-type="metro" data-style="color"></div>
                        
                        <div class="contenu">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table row-border hover">
                                <thead>
                                    <tr>

                                        <th>Date</th>
                                        <th>Imm.</th>
                                        <th>Modèle</th>
                                        <th>Assureur </th>
                                        <th>Validité </th>
                                        <th>Coût </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let assurance of assurances" (click)="edit(assurance)"
                                        style="cursor: pointer;">
                                        <td>{{assurance.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>
                                            {{assurance.vehicule.immatriculation}}
                                        </td>
                                        <td>
                                            {{assurance.vehicule.modele}}
                                        </td>
                                        <td style="text-transform: uppercase;">
                                            {{assurance.prestataire}}

                                        </td>
                                        <td>{{assurance.dateLimite | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{assurance.prixTotal}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>