<div class="page">
    <div class="entete">
        <h1>
            Relevés kilométriques
        </h1>

    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-12">
                    <div class="board">
                        <div *ngIf="enSynchronisation" data-role="activity" data-type="metro" data-style="color"></div>

                        <div class="contenu">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table row-border hover">
                                <thead>
                                    <tr>
                                        
                                        <th>Date</th>
                                        <th>Véhicule</th>
                                        <th>Conducteur au relevé</th>
                                        <th>Km</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let kilometrage of kilometrages" (click)="edit(kilometrage)" style="cursor: pointer;">
                                        <td>{{kilometrage.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>
                                            {{kilometrage.vehicule.modele}} -
                                            {{kilometrage.vehicule.immatriculation}}

                                        </td>
                                        <td>
                                            <span *ngIf="kilometrage.conducteur">

                                                {{kilometrage.conducteur.noms}}
                                                {{kilometrage.conducteur.prenoms}}
                                                
                                            </span>
                                        </td>
                                        <td>{{kilometrage.quantite}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>