<div class="page">
    <div class="entete">
        <h1>
            Relevés kilométriques
            <span (click)="addKilometrage()" class="muanza-icon">
                <span>
                    +
                </span>
            </span>
        </h1>

    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div class="cell-lg-12">
                    <div class="board">
                        <div class="entete">
                            <h2>
                                Informations
                            </h2>
                        </div>
                        <div class="contenu">
                            <table class="table table-border row-border cell-border">
                                <thead>
                                    <tr>
                                        
                                        <th>Date</th>
                                        <th>Véhicule</th>
                                        <th>Conducteur au relevé</th>
                                        <th>Km</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let kilometrage of kilometrages" (click)="edit(kilometrage)" style="cursor: pointer;">
                                        <td>{{kilometrage.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>
                                            {{kilometrage.vehicule.modele}} -
                                            {{kilometrage.vehicule.immatriculation}}

                                        </td>
                                        <td>
                                            <span *ngIf="kilometrage.conducteur">

                                                {{kilometrage.conducteur.noms}}
                                                {{kilometrage.conducteur.prenoms}}
                                                
                                            </span>
                                        </td>
                                        <td>{{kilometrage.quantite}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>