form {

    .cell-lg-4,
    .cell-lg-2 {
        margin: 0;
        padding: 0;

        .muanza-input-box {
            margin: 5px;
            background-color: white;

            .button {
                width: 100%;
            }
        }
    }
}


.liste {
    .liste--element {
        .montant {
            margin-top: -5px;
        }
    }
}