<div class="page">
    <div class="entete">
        <h1>
            Suivi des véhicules
        </h1>
    </div>
    <div class="contenu">
        <div class="boards">
            <div class="row">
                <div *ngFor="let vehicule of vehicules" class="cell-lg-3">
                    <div (click)="view(vehicule)" class="board">

                        <div class="entete">

                            <h2>
                                {{vehicule.modele}}
                            </h2>
                        </div>
                        <div class="contenu">
                            <h3 style="font-size:1.2em">
                                <span *ngIf="vehicule.conducteur">
                                    {{vehicule.conducteur.noms}}
                                    {{vehicule.conducteur.prenoms}}
                                </span>
                                <span *ngIf="!vehicule.conducteur">
                                    Aucun conducteur
                                </span>
                            </h3>

                            <div style="margin-top: -10px;">
                                <small *ngIf="vehicule.conducteur">
                                    Conducteur actuel
                                </small>
                            </div>
                        </div>

                        <div class="bas">
                            <span>
                                {{vehicule.immatriculation}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>