form {

    .cell-lg-4,
    .cell-lg-2 {
        margin: 0;
        padding: 0;

        .muanza-input-box {
            margin: 5px;
            background-color: white;

            .button {
                width: 100%;
            }
        }
    }
}

$primaire: #e52d27;

.boards {
    margin-top: 10px;

    .board {
        border: 1px solid $primaire;
        height: 100vh;
        background-color: rgba(255, 255, 255, 1);

        .entete {
            padding-left: 1.5vw;
            padding-right: 1.5vw;

            h2 {
                font-weight: 100;
                font-size: 1.2em;
                padding-bottom: 2vh;
                border-bottom: 1px solid #aaa;
            }
        }

        .contenu {
            padding-left: 1.5vw;
            padding-right: 1.5vw;
        }

        .bas {
            position: absolute;
            bottom: 3vh;
            left: 0;
            padding-top: 5px;
            min-height: 5vh;
            padding-bottom: 7px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
            background: linear-gradient(to right, #b31217, #e52d27);
            color: #fff;
            width: 80%;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            cursor: pointer;
            transition: letter-spacing 200ms, transform 200ms;
            transform-origin: 0% 0%;

            &:hover {
                letter-spacing: 0.5px;
                transform: scaleX(1.05);
            }

            span {
                font-size: 1.2em;
                font-weight: 100;
                margin-left: 2vw;
                text-transform: uppercase;
            }

        }
    }
}

.liste {
    .liste--element {
        .montant {
            margin-top: -5px;
        }
    }
}



.muanza-icon {
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    sup {
        margin-left: -5px;
    }
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}